<h1>{{name}}</h1>

<dl>
  <td>Nombre</td>
  <dd>{{name}}</dd>

  <td>Edad</td>
  <dd>{{edad}}</dd>

  <td>Metodo</td>
  <dd>{{ getheroDescription() }}</dd>

  <td>Capitalizado</td>
  <dd>{{ capitalizedName }}</dd>


  <button
  *ngIf="name !== 'Spiderman' "
  (click)="changeHero('Spiderman')"  class="btn btn-primary mx-2">Cambiar Nombre</button>
  <button
  *ngIf="edad !==22"
  (click)="changeAge(22)" class="btn btn-primary">Cambiar Edad</button>

  <button
  (click)="resetForm()" class="btn btn-primary mx-2">Reset</button>
</dl>
