<h3>Listado de Heroes</h3>


<div *ngIf="nameDeleteHero; else nothingwasdeleted">
  <h3 >Heroe borrado: <small class="text-danger">{{ nameDeleteHero }}</small></h3>

</div>

<ng-template #nothingwasdeleted>
  <h3 *ngIf="!nameDeleteHero">No ha borrado nada</h3>

</ng-template>


<button *ngIf="heroes.length >0" (click)="eliminarHeroe()" class="btn btn-danger">Elimar ultimo heroe</button>



<ul class="mt-2 list-group">
  <li *ngFor="let item of heroes" class="list-group-item"> {{ item }} </li>
</ul>
